.App {
  text-align: center;
}

.grid-container {
  display: grid;

  grid-template-columns: 25% 1fr;
  grid-template-rows: 72px 1fr;

  grid-template-areas:
    "sidebar head head head"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";

  /* grid-container height = 100% of viewport height */
  height: 100vh;
}

.grid-sidebar {
  grid-area: sidebar;
  position: fixed;
}

.grid-header {
  grid-area: head;
  box-shadow: 0 1px 0 0 #eaedf3;
}

.header-title {
  text-align: left;
  margin-left: 20px;
}

.grid-content {
  grid-area: main;
}

.active-link {
  background-color: #252529;
}